.contacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .contacts_block{
        border: 2px solid #f3f3f3;
    }
    .info{
        border: 2px solid #f3f3f3;
    }
}