header {
    background: #f3f3f3;
    height: 80px;
    .h1 {
        color: #5e4d4d;
        position: relative;
        left: 55px;
        top: 20px;
        font-size: 25px;
        text-decoration: none;
        transition: 2s;
        &:hover{
            color: #e13ed7;
        }
    }
    ul {
        position: absolute;
        right: 120px;
        top: 20px;
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            margin-top: 15px;
            margin-right: 20px;
            font-size: 15px;
            a {
                text-decoration: none;
                color: #5e4d4d;
                transition: 1s;
                &:hover {
                    color: #e13ed7;
                }
                i {
                    margin-right: 10px;
                }
            }
            h4{
                text-decoration: none;
                color: #5e4d4d;
                -webkit-transition: 1s;
                font-weight: initial;
                -o-transition: 1s;
                transition: 1s; 
                cursor: pointer;
                &:hover {
                    color: #e13ed7;
                }
            }
            select{
                border: 1px solid #5e4d4d;
                color: #5e4d4d;
            }
        }

        
    }
    
    .header__burger {
        display: none;
    }
}