.login-content{
    height: 100vh;
}

.crumb{
    display: flex;
    width: 130px;
    font-size: 15px;
    margin-left: 10px;

    span{
        margin-left: 10px;
        margin-right: 10px;
    }

     a{
        text-decoration: none;
        color: blue;
    }
}

.login{
    margin: 0 auto;

    .login-frame{
        display: flex;
        // width: 200px;
        margin-left: 40%;
        margin-top: 5%;
        padding-bottom: 18%;

         input{
            padding: 5px;
        }

     button{
            border: 1px solid #5e4d4d;
            padding: 5px;
            background-color: #fff;
            margin-top: 5px;
            font-size: 15px;
            font-weight: 700;
        }

         #registration{
            display: none;
        }
    }
}